@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #101113;
}

::-webkit-scrollbar-thumb {
    background: #283639;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #11b7d4;
}

/* Hide scrollbar for gallery thumbnails but allow scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}